name: My Workflow 

on:
  pull_request:
    branches: [master]

jobs:
  myjob:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Node.js environment
      uses: actions/setup-node@v6.2.0
    - name: Checkout
      uses: actions/checkout@v6.0.2
    - name: Install Dependencies
      run: npm i
    - name: Run Tests
      run: npm test
